@model OneToOneEFMVCRepo.Models.User

<h2>Add User</h2>

<form asp-action="Create" method="post">

<label>Username</label>
<input asp-for="Username" />

<br><br>

<label>Bio</label>
<input asp-for="Profile.Bio" />

<br><br>

<label>Website</label>
<input asp-for="Profile.Website" />

<br><br>

<button type="submit">Save</button>

</form>