@{
    ViewData["Title"] = "Student Login";
}

<div class="container mt-5" style="max-width:500px">

    <h2 class="text-center mb-4">Student Login</h2>

    <form method="post">

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input name="email" class="form-control" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input name="password" type="password" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-primary w-100">
            Login
        </button>

        <br /><br />

        <div class="text-center">
            <a asp-controller="Auth" asp-action="Register">
                Create New Account
            </a>
        </div>

        @if (ViewBag.Error != null)
        {

            <p class="text-danger text-center mt-3">@ViewBag.Error</p>
        }

    </form>

</div>
